$yellow: hsl(235, 87%, 65%);
$yellow-small: hsl(217, 83%, 40%);
$yellow-dark: hsl(235, 45%, 35%);
$yellow-text-dark: hsl(235, 45%, 47%);

$veri-peri: hsl(238, 31%, 20%);

$blue-backg: hsl(216, 56%, 9%);
$blue-backg-light: hsl(216, 56%, 10%);
$blue-backg-dark: hsl(216, 67%, 6%);

$graphic-backg: hsl(218, 52%, 12%);

$white-dark: hsl(0, 0%, 90%);
$white-darker: hsl(0, 0%, 76%);
$white: hsl(0, 0%, 91%);
$border-radius: 9px;